extends ../layout/default.pug

block page-content
	script(src='/scripts/test.js')
	h1(class="text-center") Contact
	a(class="btn",href="/cms/contact/add") Add
	table.text-center.m-auto
		thead
			tr
				th.w-5 Platform
				th.w-5 Name
				th.w-5 Link
				th.w-5 Icon
				th.w-5
		tbody
			each method in contactMethods
				tr
					td= method['platform'].name
					td= method.name
					td= method.link
					td= method['platform'].icon
					td.controls
						table.m-auto
							tr
								td
									a(href=`/cms/contact/edit/${method['_id']}`)
										i.fa-regular.fa-pen-to-square
									form(action=`/cms/contact/delete/${method['_id']}` method="POST")
										button
											i.fa-regular.fa-trash-can