extends ../layout/default.pug

block page-content
	h1(class="text-center") Contact
	a(class="btn",href="/cms/contact/add") Add
	include ../includes/error.pug
	include ../includes/success.pug
	table.text-center.m-auto
		thead
			tr
				th.w-5 Platform
				th.w-5 Handle
				th.w-5 URL
				th.w-5 Icon
				th.w-5
		tbody
			each method in contactMethods
				tr
					td= method['platform'].name
					td= method.handle
					td= method.url
					td
						if method['platform']['icon']
							img(src=method['platform']['icon'].thumbnailUrl, alt=`${method['platform'].name} icon` style="height: 3rlh")
					td.controls
						table.m-auto
							tr
								td
									a(href=`/cms/contact/edit/${method['_id']}`)
										i.fa-regular.fa-pen-to-square
									form(action=`/cms/contact/delete/${method['_id']}` method="POST")
										if ( method['platform'].icon )
											input(type='hidden',name='image_id',value=method['platform']['icon'].id)
										button
											i.fa-regular.fa-trash-can