extends ../layout/default.pug

block page-content
	h1.text-center Employment
	a(class="btn",href="/cms/employment/add") Add
	table.text-center.m-auto
		thead
			tr
				th.w-8 Job Title
				th.w-8 Employer
				th.w-8 Description
				th.w-8 Start Month
				th.w-8 Start Year
				th.w-8 End Month
				th.w-8 End Year
				th.w-8
		tbody
			each job in employment
				tr
					td= job.title
					td= job.employer
					td= job.description
					td= job.start_month
					td= job.start_year
					td= job.end_month
					td= job.end_year
					td.controls
						table.m-auto
							tr
								td
									a(href=`/cms/employment/edit/${job['_id']}`)
										i.fa-regular.fa-pen-to-square
									form(action=`/cms/employment/delete/${job['_id']}` method="POST")
										button
											i.fa-regular.fa-trash-can