extends ../layout/default.pug

block page-content
	h1(class="text-center") Projects
	a(class="btn",href="/cms/projects/add") Add
	include ../includes/error.pug
	include ../includes/success.pug
	table.text-center.m-auto
		thead
			tr
				th.w-5 Title
				th.w-5 Description
				th.w-5 Github
				th.w-5 Website
				th
		tbody
			each project in projects
				tr
					td= project.title
					td= project.description
					td= project.github_url
					td= project.live_url
					td.controls
						table.m-auto
							tbody
								tr
									td
										a(href=`/cms/projects/edit/${project['_id']}`)
											i.fa-regular.fa-pen-to-square
										form(action=`/cms/projects/delete/${project['_id']}` method="POST")
											button
												i.fa-regular.fa-trash-can