extends ../layout/default.pug

block page-content
	h1(class="text-center") Education
	a(class="btn",href="/cms/education/add") Add
	table.text-center.m-auto
		thead
			tr
				th University
				th Degree Type
				th Degree
				th Start Month
				th Start Year
				th End Month
				th End Year
				th
		tbody
			each institution in education
				tr
					td= institution.name
					td= institution.degree_type
					td= institution.degree
					td= institution.start_month
					td= institution.start_year
					td= institution.end_month
					td= institution.end_year
					td.controls
						table
							tr
								td
									a(href=`/cms/education/edit/${institution['_id']}`)
										i.fa-regular.fa-pen-to-square
									form(action=`/cms/education/delete/${institution['_id']}` method="POST")
										button
											i.fa-regular.fa-trash-can