extends ../layout/default.pug

block page-content
	h1(class="text-center") Education
	a(class="btn",href="/cms/education/add") Add
	include ../includes/error.pug
	include ../includes/success.pug
	table.text-center.m-auto
		thead
			tr
				th.w-8 University
				th.w-8 Degree Type
				th.w-8 Degree
				th.w-8 Start Month
				th.w-8 Start Year
				th.w-8 End Month
				th.w-8 End Year
				th.w-8
		tbody
			each institution in education
				tr
					td= institution.name
					td= institution.degree_type
					td= institution.degree
					td= institution.start_month
					td= institution.start_year
					td= institution.end_month
					td= institution.end_year
					td.controls
						table.m-auto
							tr
								td
									a(href=`/cms/education/edit/${institution['_id']}`)
										i.fa-regular.fa-pen-to-square
									form(action=`/cms/education/delete/${institution['_id']}` method="POST")
										button
											i.fa-regular.fa-trash-can